.messages-page {
  max-width: 800px;
  margin: 0 auto 32px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  h3 {
    margin-bottom: 16px;
  }
  &__loader {
    flex-grow: 1;
    display: grid;
    place-items: center;
    padding-bottom: 10%;
  }
  &__add-button {
    backdrop-filter: blur(4px);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: fixed;
    left: calc(50vw + 330px);
    bottom: 5vh;
    background: transparent;
    border: 3px solid #90caf9;
    display: block;
    place-items: center;
    svg {
      font-size: 40px;
    }
    @media only screen and (max-width: 900px) {
      left: unset;
      right: 40px;
    }
  }
}
