//$bg-primary: #4f5475;
$surface: #0e0e0f;
$surface-container: #19191a;
$surface-container-low: #161616;
$on-surface: #ffffff;
$on-surface-variant: rgba(255, 255, 255, 0.7);

$green: #87ff87;
$green-light: #afa;
